@if (total > 0) {
  <footer class="footer">
    <span class="todo-count">
      <strong>{{ filtered }}</strong>
      @if (filtered === 1) {
        item
      } @else {
        items
      }
    </span>

    <ul class="filters">
      <li><a (click)="change.emit('all')" [class.selected]="filter === 'all'">All</a></li>
      <li><a (click)="change.emit('pending')" [class.selected]="filter === 'pending'">Pending</a></li>
      <li><a (click)="change.emit('completed')" [class.selected]="filter === 'completed'">Completed</a></li>
    </ul>

    <button class="clear-completed" (click)="clearCompleted.emit()">Clear completed</button>
  </footer>
}