<footer class="footer" *ngIf="total > 0">
      <span class="todo-count">
        <strong>{{ filtered }}</strong>
        <span *ngIf="filtered === 1; else multiple">item</span>
        <ng-template #multiple>items</ng-template>
      </span>

      <ul class="filters">
        <li><a (click)="change.emit('all')" [class.selected]="filter === 'all'">All</a></li>
        <li><a (click)="change.emit('pending')" [class.selected]="filter === 'pending'">Pending</a></li>
        <li><a (click)="change.emit('completed')" [class.selected]="filter === 'completed'">Completed</a></li>
      </ul>

      <button class="clear-completed" (click)="clearCompleted.emit()">Clear completed</button>
</footer>
